*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(
        135deg,
        #0b0b12 0%,
        #1a0812 30%,
        #35111f 60%,
        #ff8fbe 100%
    );

    min-height:100vh;

    color:white;

    font-family:'Segoe UI', sans-serif;
}

/* NAVBAR */

.navbar{

    background:rgba(0,0,0,0.2);

    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(255,255,255,0.1);
}

.navbar-brand{

    color:#ff8fbe !important;

    font-size:2rem;

    font-weight:bold;
}

/* TÍTULOS */

.secao-titulo{

    color:#ff8fbe;

    font-weight:700;

    margin-bottom:20px;
}

/* CARROSSEL */

.banner{

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.15);

    border-radius:25px;

    min-height:350px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:60px;
}

.banner h1{

    font-size:3rem;

    font-weight:800;

    margin-bottom:20px;
}

.banner span{

    color:#ff8fbe;
}

.banner p{

    font-size:1.2rem;

    max-width:700px;

    color:#f5f5f5;
}

/* INDICADORES */

.carousel-indicators button{

    width:12px !important;

    height:12px !important;

    border-radius:50%;

    background-color:#ff8fbe !important;
}

/* CARDS */

.card-link{

    text-decoration:none;
}

.treino-card{

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    color:white;

    padding:40px 20px;

    border-radius:20px;

    text-align:center;

    font-size:1.1rem;

    font-weight:600;

    transition:0.3s;
}

.treino-card:hover{

    transform:translateY(-8px);

    border:1px solid #ff8fbe;

    box-shadow:0 10px 25px rgba(255,143,190,0.3);
}

/* SOBRE */

.sobre{

    margin-top:70px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:30px;
}

.sobre h4{

    color:#ff8fbe;

    margin-bottom:15px;
}

/* DETALHES */

.info-box{

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:30px;
}

.info-box p{

    margin-bottom:10px;
}

.voltar{

    color:#ff8fbe;

    text-decoration:none;

    font-weight:bold;
}

.voltar:hover{

    color:white;
}

/* GALERIA */

.foto{

    height:150px;

    border-radius:15px;

    background:linear-gradient(
        135deg,
        #ff8fbe,
        #35111f
    );

    transition:0.3s;
}

.foto:hover{

    transform:scale(1.03);
}

/* RESPONSIVO */

@media(max-width:768px){

    .banner{

        padding:40px 20px;
    }

    .banner h1{

        font-size:2rem;
    }

    .banner p{

        font-size:1rem;
    }

    .treino-card{

        padding:30px 15px;
    }
}